* {
  padding: 0;
  margin: 0;
}
  
@media ( min-width: 100px ) {
  .centerContainer {
    width: 100%;
  }
}

@media ( min-width: 900px ) {
  .centerContainer {
    margin: 0 auto;
    width: 900px;
  }
}
