<meta charset="UTF-8">

<div class="rowContainer" style="background: #fff;" id="mainView_2019">
	<div class="centerContainer">
		<div class="centerContainerInnerBox">
			<div class="centerContainerContentDiv">
				<div class="adBox1Container" style="color: #222; height: 12rem;">
					<div style="position: absolute; left: 1rem; font-size: 3.5rem; font-weight: 800; font-family: 'Nanum Gothic', sans-serif;">Web Dev</div>
					<div style="position: absolute; left: 1rem; top: 1.9rem; font-size: 6rem; font-family: 'Monoton', sans-serif;">2019</div>
					<div style="position: absolute; left: 15.7rem; top: 1.9rem; font-size: 1.2rem; font-family: 'Nanum Gothic', sans-serif;">Third Year</div>
					<div class="normalButton"
						style="position: absolute; right: 1.2rem; top: 7.3rem; width: 6rem; min-height: 1.6rem;"
						onclick="location.href='https://www.youtube.com/channel/UCt9cwlw2fk9UqnxfYhiyKbA';">
						<div style="padding: 0.2rem; text-align: center;">Button</div>
					</div>
				</div>
				
				<div style="margin-left: 3rem; width: calc(100% - 4rem); border-top: 1px solid #222; padding-top: 0.5rem; padding-left: 0.5rem;">
					<p>웹 개발 3년차.. 친구따라 강남간다고.. 친구따라 깃허브 페이지를 만들었다. 참 재미지다. 룰루랄라!</p>
					<br>
					<p>올해 업무 외 적으로 만들어 본 프로그램은.. 자바로 만든 원격지원 프로그램.. 작업관리자나 UAC가 뜨면 제어를 못하는 치명적인 단점이 있으나.. 어차피 고객사 쪽에서 내가 뭘하는지 보고 있는 사람이 있으니 그런 건 크게 지장없음.</p>
					<br>
					<p>룰루.. 랄라.. 룰루랄라... 긴 글을 적어야하는데.. 적을 게 없네.. 29분 남았다.. 룰루.. 랄라.. 룰루랄라... 룰루랄라? 룰루! 랄라! 루루랄라? 룰루.. 랄라.. 룰루.. 랄라.. 룰루랄라... 긴 글을 적어야하는데.. 적을 게 없네.. 29분 남았다.. 룰루.. 랄라.. 룰루랄라... 룰루랄라? 룰루! 랄라! 루루랄라? 룰루.. 랄라.. 룰루.. 랄라.. 룰루랄라... 긴 글을 적어야하는데.. 적을 게 없네.. 29분 남았다.. 룰루.. 랄라.. 룰루랄라... 룰루랄라? 룰루! 랄라! 루루랄라? 룰루.. 랄라..</p>
				</div>
				<br>
				<div style="position: absolute; right: 0.3rem; bottom: 21.8rem; font-size: 0.7rem;">ⓒ DOOYONG</div>
			</div>
		</div>
	</div>
</div>